body {
  font-family: Arial;
  margin: 20px;
}
nav a {
  margin-right: 15px;
  padding: 10px;
  background: #1976d2;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
form {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}
button {
  background: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
